:root {
    --primary-theme-colour: #009ae4;
    --scondary-theme-colour: #FE9330;
    --footer-colour: #1f1f1f;

    --table-colour-light_grey:  #f2f2f2;
    --table-colour-header: #C5C5C5;
    --table-colour-hover: #dfdfdf;
    --table-colour-text: #1f1f1f;
}


/***      Global      ***/
body {

}

.wrapper{
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

p, a {
    font-family: Arial, Helvetica, sans-serif;
}

/*  Buttons */
button {

}

button.btn-cmd {
    color: var(--primary-theme-colour);
}

button.btn-cmd img {
    width: 10px;
    height: 10px;
}



/*  Tables  */
div.table_scroll {
    max-height: 400px;
    overflow-y: auto;
}

table {
    margin: 5px auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--table-colour-hover);
    padding: 8px;
}

tr:nth-child(odd){
    background-color: var(--table-colour-light_grey);
}

tr:hover {
    background-color: var(--table-colour-hover);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--table-colour-header);
    color: black;
}


/***      Navigation      ***/
nav {
    padding-top: 10px;
    clear: left;
    margin: 0 auto 10px auto;
    background: var(--primary-theme-colour);
    width: 100%;
    text-align: center;
}

nav ul {
    padding: 10px;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background: var(--primary-theme-colour);
    color: var(--scondary-theme-colour);
}

nav a.current {
    background: var(--primary-theme-colour);
    color: var(--scondary-theme-colour);
}


/***       Footer      ***/

footer {
    padding: 30px;
    background: var(--footer-colour);
    color: white;
    position: bottom;
}

footer img {
    margin-left: auto;
    position: relative;
    vertical-align: middle;
}

footer p {
    text-align: left;
}

footer ul, li {
    text-align: center;
    text-decoration: none;
}

footer li{
    display: inline;
}
