:root {
    --primary-theme-colour: #009ae4;
    --scondary-theme-colour: #FE9330;
    --footer-colour: var(--black);

    --text-body: #6f6f6f;

    --pale_white:  #f2f2f2;
    --lighter_grey: #dfdfdf;
    --light_grey: #c5c5c5;
    --grey: #9f9d9d;
    --black: #1f1f1f;
}


/***      Global      ***/
body {

}

.wrapper{
    margin: 20px 200px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    padding: 4px;
    font-style: "Segoe UI Light","Segoe UI","Century Gothic", Arial, "Times New Roman";
    color: var(--primary-theme-colour);
}

p {
    color: var(--lighter_grey);
}

a {
    color: var(--primary-theme-colour);
}

ul {
    list-style-type: square;
    padding-left: 25px;
}

li {

}


/*  Buttons */
button, input[type="submit"] {
    border: 1px solid var(--grey);  /*#a6a6a6*/
    border-radius: 5px;
    background: var(--lighter_grey);    /*#e3e3e3*/
}

button:hover, input[type="submit"]:hover {
    background: var(--light_grey);  /*#c8c8c8*/
}

button:active, input[type="submit"]:active {
    background: var(--scondary-theme-colour);
}

.btn-icon {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px;
    padding-left:15px;
    color: var(--primary-theme-colour);
}

.btn-edit {
    background-image: url('../img/icons/edit.svg');
}

.btn-del {
    background-image: url('../img/icons/delete.svg');
}



/*  Tables  */
div.table_scroll {
    max-height: 400px;
    overflow-y: auto;
}

table {
    margin: 5px auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--grey);
    padding: 8px;
    vertical-align: middle;
}

tr:nth-child(odd){
    background-color: var(--pale_white);
}

tr:hover {
    background-color: var(--lighter_grey);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--light_grey);
    color: black;
}


/***      Navigation      ***/
nav {
    padding-top: 10px;
    clear: left;
    margin: 0 auto 10px auto;
    background: var(--primary-theme-colour);
    width: 100%;
    text-align: center;
}

nav ul {
    padding: 10px;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background: var(--primary-theme-colour);
    color: var(--scondary-theme-colour);
}

nav a.current {
    background: var(--primary-theme-colour);
    color: var(--scondary-theme-colour);
}

/***        Other Bits      */
.page-title {
    margin: 10px 0;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 5px;
}

.page-title h2 {
    font-size: 24px;
}

.page-content {
    padding: 10px;
    color: var(--text-body);
}


/***       Footer      ***/

footer {
    padding: 30px;
    background: var(--footer-colour);
    color: white;
    position: bottom;
}

footer img {
    margin-left: auto;
    position: relative;
    vertical-align: middle;
}

footer p {
    text-align: left;
}

footer ul, footer li {
    text-align: center;
    text-decoration: none;
}

footer li{
    display: inline;
}
